<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ .Title }} :: Just For Today, February 18	</title>
<body>

	<div id="container">

		<div id="header"></div>

			<div id="content">
				<h1>{{ .Title }}</h1>

				<h2 id="jft_date">{{ .Month }} {{ .Day }}</h2>

				<p id="jft_excerpt">
					{{ .Excerpt }}
					<em>{{ .Source }}</em>
				</p>

				<p>
					{{ .Content }}
				</p>

				<p id="jft_summary">
					<strong>Just For Today:</strong>
					{{ .Summary }}
				</p>
		</div>

		<div id="footer">
			Copyright &copy; 1991-2008 by Narcotics Anonymous World Services, Inc. All Rights Reserved
		</div>

	</div>

<script type="text/javascript">
//<![CDATA[
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script><script type="text/javascript">
//<![CDATA[
var pageTracker = _gat._getTracker("UA-2764682-2");
pageTracker._initData();
pageTracker._trackPageview();
//]]>
</script>
</body>
</html>
